/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/*Navigation bar*/
nav {
    background-color: #000;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.logo img {
    height: 60px;
    width: 60px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu li {
    margin: 0 10px;
    list-style: none;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: rgb(175, 255, 175);
}

.download {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
}

.download:hover {
    background-color: #888;
}

.hero {
    background: url('https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fade-in 1s ease-out;
    color: #fff;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hero h1{
    font-size: 4rem;
    margin-bottom: 20px;
}

.about {
    padding: 20px 10px;
    background-color: #eee;
}

.about h2 {
    padding: 20px 10px;
}

.education {
    padding: 20px 30px;
    background-color: #ccc;
}

.education h2 {
    padding: 20px 10px;
}

.education ul {

}